<!DOCTYPE html>
<html>
<head>
    <title>Translational Partition Function Calculator</title>
</head>
<body>

    <h1>Translational Partition Function Calculator</h1>

    <form method="POST">

        <label>Mass:</label>
        <input type="text" name="mass"><br><br>

        <label>Temperature:</label>
        <input type="text" name="temperature"><br><br>

        <label>Volume:</label>
        <input type="text" name="volume"><br><br>

        <input type="submit" value="Calculate">

    </form>

    {% if result %}
        <h3>q_trans = {{ result }}</h3>
    {% endif %}

    {% if error %}
        <h3>{{ error }}</h3>
    {% endif %}

</body>
</html>
